{
  "arrowParens": "avoid",
  "proseWrap": "never",
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tv"]
}
